<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paytabs>
                <active>1</active>
                <order_status>pending</order_status>                
                <model>Ibnab\PayTabs\Model\PayTabs</model>
                <!--<payment_action>authorize_capture</payment_action>-->
                <title>PayTabs (pay with visa and master card)</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </paytabs>
        </payment>
    </default>
</config>
